.center{
  text-align: center;
}

input{
  margin-bottom:.5rem;
}

input[type="range"]{
  width:100%; 
}

.lead{
  font-size: 1.125em;
}

p{
  margin-bottom: 1.5rem;
}

label{
  font-style: italic;
  font-weight: 400;
}

label.indicator{
  text-align: center;
  font-weight: 800;
  font-style: normal;
}

label.error{
  color:red;
}

.form-head{
	width:100%;
	clear:both;
	padding-bottom:.5em;
}

.form-head div{
	color:#666666;
}

.form-group{
	margin-bottom:1.5em;
}

.form-group h4{
  margin-bottom:.5rem;
  font-size: 1.5em;
}

.form-group .row{
  margin-top:0;
}

.results{
  border:#f2f2f2 2px solid;
  padding: 1rem 2rem;
  border-radius: 5px;
  background:#ffffff;
  max-height: 550px;
  max-width:450px;
  overflow-y: scroll;
}

/* width */
.results::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.results::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.results::-webkit-scrollbar-thumb {
    background: rgb(31, 188, 210); 
}

/* Handle on hover */
.results::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#jump{
  position: fixed;
  bottom:0;
  right:0;
  display:block;
  background:#ffffff;
  opacity: 0.75;
  text-align: right;
  padding:1rem;
}

#jump a{
  font-weight: 800;
  font-size: 1.25em;
}

.contact-box{
  margin-top:4em;
  font-style: italic;
}

/***********************
  Results Accordion
************************/

/* Style the buttons that are used to open and close the accordion panel */
.accordion{
    background-color: #f5f5f5;
    color: #444;
    cursor: pointer;
    padding:1rem;
    width: 100%;
    margin-bottom:5px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/*.more-details:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active.more-details:after {
    content: "\2796";
}

.panel {
    padding: 0 1rem;
    background-color: #ffffff;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}*/

.panel{
  padding: 0 1rem 1rem 3rem;
  background-color: #ffffff;
  font-size: .875em;
}

#container{
	margin-bottom: 2em;
}

.row{
	margin-top:2em;
}

.thick-divider{
	border-top:#cccccc 4px solid;
}

/***********************
  Glossary
************************/
#glossary{
  width:100%;
}

#glossary h3{
  margin-bottom:2rem;
}

#glossary h4{
  margin-bottom:.5rem;
  font-size: 2.25rem;
}


/***********************
  Source
************************/
#source, .notes, #disclaimer{
  font-style: italic;
  font-size: .875em;
  color:#808080;
}

@media (min-width: 46.875em) { /* 750ish px and up */
  #jump{
    display:none;
  }
  #glossary{
    width:50%;
  }
  
  .fixed{
    position:fixed;
    z-index: 101;
    top:30px;
    right:3rem;
  }
  
  .lead{
      column-count:2;
      column-gap:40px;
    }
}

@media (min-width: 60em) { /* 960px and up */
  
}

@media (min-width: 75em) { /* 1200px and up */

}



