.center{
  text-align: center;
}

input{
  margin-bottom:.5rem;
}

input[type="range"]{
  width:100%; 
}

.fixed{
  position:fixed;
  top:30px;
  right:3rem;
}

p{
  margin-bottom: 1.5rem;
}

label{
  font-style: italic;
  font-weight: 400;
}

label.indicator{
  text-align: center;
  font-weight: 800;
  font-style: normal;
}

label.error{
  color:red;
}

.form-head{
	width:100%;
	clear:both;
	padding-bottom:.5em;
}

.form-head div{
	color:#666666;
}

.form-group{
	margin-bottom:1.5em;
}

.form-group h4{
  margin-bottom:.5rem;
  font-size: 1.5em;
}

.form-group .row{
  margin-top:0;
}

.results{
  border:#f2f2f2 2px solid;
  padding: 1rem 2rem;
  border-radius: 5px;
  background:#ffffff;
  max-height: 550px;
  overflow-y: scroll;
}

.results ul li{
  list-style: none;
  background:#f5f5f5;
  padding:1rem;
  margin-bottom:5px;
}

.results p{
  font-size: 1.5rem;
}

/* width */
.results::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.results::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.results::-webkit-scrollbar-thumb {
    background: rgb(31, 188, 210); 
}

/* Handle on hover */
.results::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.glyphicon, h3{
	display: inline;
}

#container{
	margin-bottom: 5em;
}

.row{
	margin-top:2em;
}

.thick-divider{
	border-top:#cccccc 4px solid;
}

